*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  color:#2d2d2d;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
}

footer {
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #999;
}

header, .main, footer {
  max-width: 80em;
  margin: 0 auto;
}

header {
  padding: 20px;
  background: #8f04bd;
}

header h1, header hgroup {
  position: relative;
  float: left;
}

header h2, h3, h4 {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-bottom: -.75em;
}

header h2 {
  font-size: 1.6em;
}

header h3 {
  font-size: 1.2em;
}

header h4 {
  font-size: 0.8em;
}

header img {
  float: left;
  padding-right: 3em;
}

html {
  font-size: 62.5%;
}

section {
  margin-bottom: 2em;
}

ul {
  list-style: none;
}

[class*="swatch-"] {
  height: 5em;
  border: 4px solid white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

[class*="button-"] {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}
.adjective1, .adjective2, .adjective3, .adjective4, .adjective5, .adjective6 {
    font-family: 'Nunito', sans-serif;
}
.adjective1 {
  color: #00ff11;
  font-size: 1.6em;
}

.adjective2 {
  color: #f00375;
  font-size: 1.25em;
  font-weight: bold;
}

.adjective3 {
  color: #fff;
  font-size: 1.5em;
}

.adjective4 {
  color: #fff;
  font-size: 1.6em;
}

.adjective5 {
  color: #8f04bd;
  font-size: 3em;
  font-weight: bold;
}

.adjective6 {
  color: #00ff11;
  font-size: 1.8em;
  font-weight: bold;
}

.button1, .button2, .button3 {
  border-radius: 4px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: .2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button1 {
  background: #00ff11;
}
.button1:hover {
  background: #04c411;
}

.button2 {
  background: #f00375;
}
.button2:hover {
  background: #b8025a;
}

.button3 {
  background: #8f04bd;
}
.button3:hover {
  background: #68028a;
}

.color-swatch-1 {
  background: #000;
}

.color-swatch-2 {
  background: #f00375;
}

.color-swatch-3 {
  background: #00ff11;
}

.color-swatch-4 {
  background: #8f04bd;
}

.color-swatch-5 {
  background: #fff;
}

.footer-wrapper {
  background: #000;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.header-wrapper {
  background: #8f04bd;
}

.main {
  padding: 20px;
  background: #000;
}

.main p {
  margin-bottom: .5em;
}

.project-title {
  position: relative;
  float: left;
}

.section-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  color: #999;
  margin-bottom: .5em;
}

[class*="texture-swatch-"] {
  overflow: hidden;
  height: 8em;
  border: 4px solid white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.texture-swatch-1 {
  background: url("../img/black.png") top left repeat;
}

.texture-swatch-2 {
  background: url("") top left repeat;
}

.texture-swatch-3 {
  background: url("") top left repeat;
}

/* Typography samples
--------------------- */
.typography-samples {
  background: #000;
  padding: 0;
}
@media (min-width: 50em) {
  .typography-samples {
    padding: 20px;
  }
}

h3.typography-sample {
  color: #00ff11;
  font-family: 'Nunito', sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: .25em;
  text-transform: uppercase;
}

h4.typography-sample {
  color: #999;
  font-family: 'Nunito', sans-serif;
  font-size: 1.7em;
  margin-bottom: .25em;
}

p.typography-sample {
  color: #999;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}
p.typography-sample strong {
  font-weight: bold;
}
p.typography-sample em {
  font-style: italic;
}

a.typography-sample {
  color: #f00375;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
a.typography-sample:hover {
  color: #b8025a;
}

p[class*="font-details-"] {
  margin-top: .5em;
  margin-bottom: 2em;
  font-family: 'Nunito', sans-serif;
  font: 0.75em;
  color: #999;
}
p[class*="font-details-"] .font-color {
  font-style: italic;
}

/* Grids
based on Chris Coyier's Dont Overthink It Grids
http://css-tricks.com/dont-overthink-it-grids/
-------------------- */
[class*='col-'] {
  float: left;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 100%;
  /* Single-column by default, i.e., on mobile */
}
@media (min-width: 50em) {
  .col-1-2 {
    /* 2-column if viewport is wide enough*/
    width: 50%;
  }
}

.col-1-3 {
  width: 100%;
}
@media (min-width: 50em) {
  .col-1-3 {
    width: 33.3333%;
  }
}

[class*="col-"] {
  padding: 0;
}
@media (min-width: 50em) {
  [class*="col-"] {
    padding-left: 30px;
  }
}

[class*="col-"]:first-child {
  padding-left: 0;
}

/* Swatch grids

  [Want to add more swatch grid column options?

  Formula for calculating swatch width:

  width: (100% - ($swatch-margin * (y - 1))) / y;

  where y = number of swatches in a grid row]

*/
[class*='swatch-'] {
  float: left;
}

.swatchgrid:after {
  content: "";
  display: table;
  clear: both;
}

.swatch-1-2 {
  width: 49%;
}

.swatch-1-3 {
  width: 32%;
}

.swatch-1-4 {
  width: 23.5%;
}

.swatch-1-5 {
  width: 18.4%;
}

[class*="swatch-"] {
  margin-left: 2%;
}

[class*="swatch-"]:first-child {
  margin-left: 0;
}
